<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <button id="goBack">Go Back</button>
    <div id= "errorMessage" class= "message"></div>
    <div id= "successMessage" class= "message"></div>
    <div id="all">
        <h1>Welcome to the VHacks Shop!</h1>
        <div id="container"></div>
    </div>
    <script src="home.js"></script>

</body>

</html>