<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <button id = "goBack">Go Back</button>
    <h1>Welcome to the VHACKS Shop!</h1>
    <div id = "container"></div>
    <script src="home.js"></script>
</body>
</html>